<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICacheService" transferMode="StreamedResponse" maxReceivedMessageSize="1073741824" maxBufferSize="2097152" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8083/711A1/Cache" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICacheService" contract="CacheServiceReference.ICacheService"
                name="BasicHttpBinding_ICacheService" />
        </client>
      <behaviors>
        <serviceBehaviors>
          <behavior>
            <!-- To avoid disclosing metadata information, 
          set the values below to false before deployment -->
            <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
            <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="True" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>